
@{
    ViewData["Title"] = "Our first demo View- Product Index";
}

<h1>Product Index</h1>
<ul>
    @*create a hyperlink, click on the link will go to the 
    method Create in the same Controller*@
    <li>@Html.ActionLink("Create Product","Create")</li>
    <li>Update Product</li>
</ul>

